.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  color: rgb(115,137,209);
  background-color: rgb(40,44,52);
  border: 1px solid black;
}

.navsCont {
  border: 1px solid red;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.nav {
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.nav:hover {
  border-bottom: 5px solid rgb(0, 49, 64);
}
.home {
  cursor: pointer;
  width: 70px;
  text-align: center;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}



@media only screen and (max-width: 1024px) {
  .root {
    grid-template-columns: 20% 80%;
    font-size: 18px;
  }
  .navsCont {
    justify-content: space-around;
  }
  .nav {
    height: 47px;
    width: 100%;
  }

  .nav:hover {
    border-bottom: none;
  }
  
}
