/* Skills.module.css */

.skills {
  text-align: center;
  padding: 20px;
}

.skillCards {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 20px;
  animation: slideUp 0.5s ease 0.5s both;
  margin: auto;
  margin-top: 20px;
  padding: 40px;
  text-align: center; /* Add text-align: center to center the skill cards */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skillCard {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100px;
  text-align: center;
  height: 120px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition applied */
  animation: translate 0.5s ease 0.5s both;
  margin: 5px;
}

.skillCard:hover {
  background-color: #fff;
}

.skillCard svg {
  font-size: 3rem;
  color: currentColor;
  fill: currentColor;
  transition: color 0.3s, fill 0.3s;
}

.skillCard:hover svg {
  color: #007bff;
  fill: #007bff;
}

.skillCard h3 {
  margin-top: 10px;
  color: #333;
  text-align: center;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .skillCards {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .skillCard h3 {
    padding-top: 10px;
  }
}

/* Additional Media Query for Smaller Mobile Screens */
@media (max-width: 480px) {
  .skillCards {
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .skillCard h3 {
    padding-top: 10px;
  }
}
